body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:seashell;
    font-size: large;
}

h1 {
    text-align: center;
    color:seashell;
    background-color: black;
    padding: 20px;
}
h2 {
    padding-left: 20px;
}
ul {
    color: black;
    font-weight: bold;
}

a{
    font-size: 24px;
    text-decoration: none;
    line-height: 1.8;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 512px;
}

.recipe-links a {
    color: black;
}

.recipe-links a:visited {
    color: black;
}

.bottom-of-page {
    color: seashell;
    background-color: black;
    padding: 20px;
}

.bottom-of-page a {
    color: seashell;
}

.bottom-of-page a:visited {
    color: seashell;
}